# Path setting & package import

In [16]:
import os
# set running directoty
new_dir = "/Users/hahaha/Desktop/fetch"  
os.chdir(new_dir)
print(f"Directory changed to: {os.getcwd()}")

from dotenv import load_dotenv, dotenv_values
load_dotenv()
password = os.getenv("password")

Directory changed to: /Users/hahaha/Desktop/fetch

In [11]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, text

# Data processing

In [12]:
# Load json files
users_df = pd.read_json('users.json', lines=True)
receipts_df = pd.read_json('receipts.json', lines=True)
brands_df = pd.read_json('brands.json', lines=True)

In [17]:
# Connect to sql database
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=password,
    database="fetch_oa"
)
cursor = db_connection.cursor()

In [23]:
# SQLAlchemy connectable
engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost/fetch_oa')

User table

In [ ]:
# Create User table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Users (
        user_id VARCHAR(255) PRIMARY KEY,
        state VARCHAR(50),
        createdDate DATE,
        lastLogin DATE,
        role VARCHAR(50),
        active BOOLEAN
    );
""")

In [284]:
# Clean data
users_df['user_id'] = users_df['_id'].str['$oid']
users_df['createdDate'] = users_df['createdDate'].str['$date']
users_df['lastLogin'] = users_df['lastLogin'].str['$date']

In [285]:
# Change timestamp format
users_df['createdDate'] = pd.to_datetime(users_df['createdDate'], unit='ms')
users_df['lastLogin'] = pd.to_datetime(users_df['lastLogin'], unit='ms')

In [286]:
# Select columns
users_df_selected = users_df[['user_id', 'active', 'createdDate', 'lastLogin', 'role', 'state']]

# Drop duplicates
users_df_selected.drop_duplicates(inplace=True)

/var/folders/ty/gxnyjym901j0t6j70lrzqxrw0000gn/T/ipykernel_28092/1927622851.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users_df_selected.drop_duplicates(inplace=True)

In [287]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state,user_id
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052

In [22]:
# Insert data into table
users_df_selected.to_sql('Users', con=engine, if_exists='append', index=False)

-1

In [ ]:
# Fetch data from the table to examine
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM Users WHERE User_id = '5f9c74f7c88c1415cbddb839';"))
    for row in result:
        print(row)

Brand table

In [ ]:
# Create Brands table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Brands (
        brand_id VARCHAR(255) PRIMARY KEY,
        barcode VARCHAR(255),
        brandCode VARCHAR(255),
        category VARCHAR(255),
        categoryCode VARCHAR(255),
        cpg VARCHAR(255),
        name VARCHAR(255),
        topBrand BOOLEAN
    );
""")

In [288]:
# Clean data
brands_df['brand_id'] = brands_df['_id'].str['$oid']
brands_df['cpg'] = brands_df['cpg'].str['$id'].str['$oid']

In [289]:
brands_df.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,brand_id
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,601ac114be37ce2ead437550,test brand @1612366101024,0.0,NaN,601ac115be37ce2ead437551
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Starbucks,0.0,STARBUCKS,601c5460be37ce2ead43755f
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,601ac142be37ce2ead437559,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,601ac142be37ce2ead43755d
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,601ac142be37ce2ead437559,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,601ac142be37ce2ead43755a
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,601ac142be37ce2ead43755e

In [290]:
# Change data type
brands_df['topBrand'] = brands_df['topBrand'].astype(bool)

In [291]:
# Select data column
brands_df_selected = brands_df[['barcode', 'category', 'categoryCode', 'cpg', 'name', 'topBrand', 'brandCode', 'brand_id']]
# Drop duplicate
brands_df_selected.drop_duplicates(inplace=True)

/var/folders/ty/gxnyjym901j0t6j70lrzqxrw0000gn/T/ipykernel_28092/2250375003.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brands_df_selected.drop_duplicates(inplace=True)

In [44]:
# Insert data into table
brands_df_selected.to_sql('Brands', con=engine, if_exists='append', index=False)

-1

In [25]:
# Fetch data from the table to examine
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM Brands WHERE brandCode IS NOT NULL LIMIT 5 ;"))
    for row in result:
        print(row)

('5332f5fbe4b03c9a25efd0b9', '511111503972', 'PEPSI', 'Beverages', None, '5332f5fbe4b03c9a25efd0ba', 'Pepsi', 0)
('5332f5fbe4b03c9a25efd0bb', '511111003960', 'MOUNTAIN DEW', 'Beverages', None, '5332f5fbe4b03c9a25efd0ba', 'Mountain Dew', 0)
('5332f5fde4b03c9a25efd0bc', '511111803959', 'AQUAFINA', 'Beverages', None, '5332f5fbe4b03c9a25efd0ba', 'Aquafina', 0)
('5332f603e4b03c9a25efd0be', '511111103936', 'MUG Root Beer', 'Beverages', None, '5332f5fbe4b03c9a25efd0ba', 'Mug Root Beer', 0)
('5332f60ce4b03c9a25efd0c3', '511111303893', 'BRISK', 'Beverages', None, '5332f5fbe4b03c9a25efd0ba', 'Brisk Iced Tea', 0)

Receipts

In [ ]:
# Create Receipts
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Receipts (
            receipt_id VARCHAR(255) PRIMARY KEY,
            bonusPointsEarned FLOAT,
            bonusPointsEarnedReason VARCHAR(255),
            createDate DATETIME,
            dateScanned DATETIME,
            finishedDate DATETIME,
            modifyDate DATETIME,
            pointsAwardedDate DATETIME,
            pointsEarned FLOAT,
            purchaseDate DATETIME,
            purchasedItemCount INT,
            rewardsReceiptStatus VARCHAR(50),
            totalSpent FLOAT,
            userId VARCHAR(255),
            FOREIGN KEY (userId) REFERENCES users(user_id)
        );
""")

In [292]:
receipts_df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [293]:
# Clean data
receipts_df['receipt_id'] = receipts_df['_id'].str['$oid']
receipts_df['createDate'] = receipts_df['createDate'].str['$date']
receipts_df['dateScanned'] = receipts_df['dateScanned'].str['$date']
receipts_df['finishedDate'] = receipts_df['finishedDate'].str['$date']
receipts_df['modifyDate'] = receipts_df['modifyDate'].str['$date']
receipts_df['pointsAwardedDate'] = receipts_df['pointsAwardedDate'].str['$date']
receipts_df['purchaseDate'] = receipts_df['purchaseDate'].str['$date']

In [294]:
# Change data type
receipts_df['createDate'] = pd.to_datetime(receipts_df['createDate'], unit = 'ms')
receipts_df['dateScanned'] = pd.to_datetime(receipts_df['dateScanned'], unit = 'ms')
receipts_df['finishedDate'] = pd.to_datetime(receipts_df['finishedDate'], unit = 'ms')
receipts_df['modifyDate'] = pd.to_datetime(receipts_df['modifyDate'], unit = 'ms')
receipts_df['pointsAwardedDate'] = pd.to_datetime(receipts_df['pointsAwardedDate'], unit = 'ms')
receipts_df['purchaseDate'] = pd.to_datetime(receipts_df['purchaseDate'], unit = 'ms')

In [295]:
receipts_df

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,receipt_id
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31.000,2021-01-03 15:25:31.000,2021-01-03 15:25:31,2021-01-03 15:25:36.000,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43.000,2021-01-03 15:24:43.000,2021-01-03 15:24:43,2021-01-03 15:24:48.000,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,2021-01-03 15:25:37.000,2021-01-03 15:25:37.000,NaT,2021-01-03 15:25:42.000,NaT,5.0,2021-01-03 00:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,2021-01-03 15:25:34.000,2021-01-03 15:25:34.000,2021-01-03 15:25:34,2021-01-03 15:25:39.000,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,2021-01-03 15:25:06.000,2021-01-03 15:25:06.000,2021-01-03 15:25:11,2021-01-03 15:25:11.000,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 10:22:27.000,2021-03-01 10:22:27.000,NaT,2021-03-01 10:22:28.000,NaT,25.0,2020-08-17 00:00:00,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603cc0630a720fde100003e6
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,2021-03-01 15:42:41.873,2021-03-01 15:42:41.873,NaT,2021-03-01 15:42:41.873,NaT,NaN,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,2021-03-01 14:07:37.664,2021-03-01 14:07:37.664,NaT,2021-03-01 14:07:37.664,NaT,NaN,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 13:07:28.000,2021-03-01 13:07:28.000,NaT,2021-03-01 13:07:29.000,NaT,25.0,2020-08-17 00:00:00,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,2021-03-01 02:22:34.962,2021-03-01 02:22:34.962,NaT,2021-03-01 02:22:34.962,NaT,NaN,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389

In [ ]:
# Select data column
receipts_df_selected = receipts_df.drop(['_id', 'rewardsReceiptItemList'], axis = 1)
# Drop duplicate
receipts_df_selected.drop_duplicates(inplace=True)

In [ ]:
# Check user_id whether both in user and receipt table
user_ids = set(users_df_selected['user_id'])
user_ids_receipts_not = receipts_df_selected[~receipts_df_selected['userId'].isin(user_ids)][['userId']]

print(user_ids_receipts_not)

# Keep receipt that only has userid in Users table
receipts_df_selected_keep = receipts_df_selected[receipts_df_selected['userId'].isin(user_ids)]

                       userId
13   5f9c74f7c88c1415cbddb839
15   5ff1e1e9b6a9d73a3a9f10f6
16   5ff1e1dfcfcf6c399c274ab3
20   5f9c74e3f1937815bd2c1d73
21   5ff1e196cfcf6c399c274a38
..                        ...
955  60253861efa6017a44dc6b50
956  60253891b54593795bf69242
966  60253891b54593795bf69242
985  60268c7bb545931ac63683af
990  60268c78efa6011bb151077d

[148 rows x 1 columns]

In [65]:
# Insert data into table
receipts_df_selected_keep.to_sql('Receipts', con=engine, if_exists='append', index=False)

-1

In [ ]:
# Fetch data from the table to examine
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM Receipts LIMIT 5 ;"))
    for row in result:
        print(row)

('5ff1e1a10a720f0523000568', 750.0, 'Receipt number 1 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', datetime.datetime(2021, 1, 3, 15, 24, 17), datetime.datetime(2021, 1, 3, 15, 24, 17), datetime.datetime(2021, 1, 3, 15, 39, 20), datetime.datetime(2021, 1, 3, 15, 39, 20), datetime.datetime(2021, 1, 3, 15, 24, 19), 750.0, datetime.datetime(2021, 1, 2, 0, 0), 5, 'FINISHED', 50.0, '5ff1e194b6a9d73a3a9f1052')
('5ff1e1a40a720f0523000569', 500.0, 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', datetime.datetime(2021, 1, 3, 15, 24, 20), datetime.datetime(2021, 1, 3, 15, 24, 20), datetime.datetime(2021, 1, 3, 15, 24, 21), datetime.datetime(2021, 1, 3, 15, 24, 21), datetime.datetime(2021, 1, 3, 15, 24, 21), 500.0, datetime.datetime(2020, 12, 27, 0, 0), 1, 'FINISHED', 10.0, '5ff1e194b6a9d73a3a9f1052')
('5ff1e1b20a7214ada100055a', 300.0, 'Receipt number 4 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', datetime.datetime(2021, 1, 3, 15, 24, 34), datetime.datetime(2021, 1, 3, 15, 24, 34), datetime.datetime(2021, 1, 3, 15, 24, 35), datetime.datetime(2021, 1, 3, 15, 24, 35), datetime.datetime(2021, 1, 3, 15, 24, 35), 300.0, datetime.datetime(2021, 2, 3, 15, 24, 35), 1, 'FINISHED', 1.0, '5ff1e194b6a9d73a3a9f1052')
('5ff1e1b40a7214ada100055b', 750.0, 'Receipt number 1 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', datetime.datetime(2021, 1, 3, 15, 24, 36), datetime.datetime(2021, 1, 3, 15, 24, 36), None, datetime.datetime(2021, 1, 3, 15, 24, 37), datetime.datetime(2021, 1, 3, 15, 24, 36), 750.0, datetime.datetime(2021, 1, 2, 15, 24, 36), 1, 'FLAGGED', 1.0, '5ff1e1b4cfcf6c399c274a54')
('5ff1e1b60a7214ada100055c', 150.0, 'Receipt number 5 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', datetime.datetime(2021, 1, 3, 15, 24, 38), datetime.datetime(2021, 1, 3, 15, 24, 38), None, datetime.datetime(2021, 1, 3, 15, 24, 38), None, 8850.0, datetime.datetime(2021, 2, 3, 15, 24, 38), 10, 'FLAGGED', 290.0, '5ff1e194b6a9d73a3a9f1052')

Receipt item

In [153]:
cursor.execute("DROP TABLE IF EXISTS ReceiptItem;")

In [ ]:
# Create ReceiptItem table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS ReceiptItem (
        receipt_Id VARCHAR(255),
        item_Index INT,
        partnerItemId INT,
        barcode VARCHAR(50),
        description VARCHAR(255),
        quantityPurchased INT,
        preventTargetGapPoints BOOLEAN,
        pointsPayerId VARCHAR(50),
        userFlaggedNewItem BOOLEAN,
        brandCode VARCHAR(50),
        needsFetchReview BOOLEAN,
        rewardsProductPartnerId VARCHAR(255),
        finalPrice DOUBLE,
        itemPrice DOUBLE,
        PRIMARY KEY (receipt_Id, item_Index),
        FOREIGN KEY (receipt_Id) REFERENCES Receipts(receipt_Id)
);
""")

In [ ]:
# Select column
receipts_item = receipts_df[['rewardsReceiptItemList', 'receipt_id']]
receipts_item.head()

                              rewardsReceiptItemList                receipt_id
0  [{'barcode': '4011', 'description': 'ITEM NOT ...  5ff1e1eb0a720f0523000575
1  [{'barcode': '4011', 'description': 'ITEM NOT ...  5ff1e1bb0a720f052300056b
2  [{'needsFetchReview': False, 'partnerItemId': ...  5ff1e1f10a720f052300057a
3  [{'barcode': '4011', 'description': 'ITEM NOT ...  5ff1e1ee0a7214ada100056f
4  [{'barcode': '4011', 'description': 'ITEM NOT ...  5ff1e1d20a7214ada1000561

In [ ]:
# Seperate data in the list into diffrent rows
receipts_item_exploded = receipts_item.explode('rewardsReceiptItemList')
# Create item_index to record the index of the item in the rewardsReceiptItemList
receipts_item_exploded['item_index'] = receipts_item_exploded.groupby('receipt_id').cumcount() + 1
receipts_item_normalized = json_normalize(receipts_item_exploded['rewardsReceiptItemList'])
receipts_item_normalized.head()

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
receipts_item_normalized['receipt_id'] = receipts_item_exploded['receipt_id'].values
receipts_item_normalized['item_index'] = receipts_item_exploded['item_index'].values
receipts_item_normalized.head()

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,receipt_id,item_index
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eb0a720f0523000575,1
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b,1
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b,2
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1f10a720f052300057a,1
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1ee0a7214ada100056f,1

In [ ]:
# Check what columns are in table
receipts_item_normalized.columns

Index(['barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId', 'receipt_id', 'item_index'],
      dtype='object')

In [ ]:
# Select data column
receipts_item_selected = receipts_item_normalized[['partnerItemId', 'barcode', 'description', 'quantityPurchased', 'receipt_id', 'item_index', 'preventTargetGapPoints', 'pointsPayerId', 'finalPrice', 'itemPrice', 'rewardsProductPartnerId', 'needsFetchReview', 'brandCode']]

In [158]:
# keep only receipt_id in RECEIPTS table
receipt_id_keep = set(receipts_df_selected_keep['receipt_id'])
receipts_item_selected_keep = receipts_item_selected[receipts_item_selected['receipt_id'].isin(receipt_id_keep)]

In [159]:
# Insert data into table
receipts_item_selected_keep.to_sql('ReceiptItem', con=engine, if_exists='append', index=False)

-1

In [ ]:
# Fetch data from the table to examine
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM ReceiptItem LIMIT 5 ;"))
    for row in result:
        print(row)

('5ff1e1a10a720f0523000568', 1, 1, '013562300631', "Annie's Homegrown Organic White Cheddar Macaroni & Cheese Shells, 6 Oz", 5, None, '5332f5f3e4b03c9a25efd0ae', None, None, 1, '5332f5f3e4b03c9a25efd0ae', 50.0, 50.0)
('5ff1e1a40a720f0523000569', 1, 0, '046000832517', 'Old El Paso Mild Chopped Green Chiles, 4.5 Oz', 1, None, '5332f5f3e4b03c9a25efd0ae', None, 'BRAND', None, '5332f5f3e4b03c9a25efd0ae', 10.0, 10.0)
('5ff1e1b20a7214ada100055a', 1, 1, '4011', 'ITEM NOT FOUND', 1, None, None, None, None, None, None, 1.0, 1.0)
('5ff1e1b40a7214ada100055b', 1, 1, '075925306254', None, 1, None, None, None, None, None, '5e7cf838f221c312e698a628', 1.0, 1.0)
('5ff1e1b40a7214ada100055b', 2, 2, None, None, None, 1, None, None, None, 1, None, None, None)

# Question Answer

1. What are the top 5 brands by receipts scanned for most recent month?

The latest date for the receipt scanned date is 2021-03-01. So the most recent month is 2021-02.

In [265]:
with engine.connect() as connection:
    result = connection.execute(text(" \
                                    SELECT ReceiptItem.BRANDCODE, COUNT(Receipts.RECEIPT_ID) AS NumReceipt \
                                    FROM ReceiptItem  \
                                    JOIN Receipts \
                                    ON ReceiptItem.RECEIPT_ID = Receipts.RECEIPT_ID \
                                    AND YEAR(Receipts.DATESCANNED) = YEAR((SELECT DATESCANNED FROM Receipts ORDER BY DATESCANNED DESC LIMIT 1) - INTERVAL 1 MONTH) \
                                    AND MONTH(Receipts.DATESCANNED) = MONTH((SELECT DATESCANNED FROM Receipts ORDER BY DATESCANNED DESC LIMIT 1) - INTERVAL 1 MONTH) \
                                    WHERE ReceiptItem.BrandCode IS NOT NULL \
                                    GROUP BY ReceiptItem.BRANDCODE\
                                    ORDER BY COUNT(Receipts.RECEIPT_ID) DESC\
                                    LIMIT 5;"))
    for row in result:
        print(row)

('MISSION', 1)
('BRAND', 1)

In [ ]:
# with engine.connect() as connection:
#     result = connection.execute(text(" \
#                                     SELECT DATESCANNED\
#                                     FROM Receipts \
#                                     WHERE YEAR(DATESCANNED) = YEAR((SELECT DATESCANNED FROM Receipts ORDER BY DATESCANNED DESC LIMIT 1) - INTERVAL 1 MONTH)\
#                                      AND MONTH(Receipts.DATESCANNED) = MONTH((SELECT DATESCANNED FROM Receipts ORDER BY DATESCANNED DESC LIMIT 1) - INTERVAL 1 MONTH) \
#                                     ;"))
#     i=0
#     for row in result:
#         i+= 1
#         print(row)
#     print(i)

2. How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?

In [228]:
with engine.connect() as connection:
    result = connection.execute(text(" \
                                    SELECT ReceiptItem.BRANDCODE, COUNT(Receipts.RECEIPT_ID) AS NumReceipt \
                                    FROM ReceiptItem  \
                                    JOIN Receipts \
                                    ON ReceiptItem.RECEIPT_ID = Receipts.RECEIPT_ID \
                                    AND YEAR(Receipts.DATESCANNED) = YEAR((SELECT DATESCANNED FROM Receipts ORDER BY DATESCANNED DESC LIMIT 1) - INTERVAL 2 MONTH) \
                                    AND MONTH(Receipts.DATESCANNED) = MONTH((SELECT DATESCANNED FROM Receipts ORDER BY DATESCANNED DESC LIMIT 1) - INTERVAL 2 MONTH) \
                                    WHERE ReceiptItem.BrandCode IS NOT NULL \
                                    GROUP BY ReceiptItem.BRANDCODE \
                                    ORDER BY COUNT(Receipts.RECEIPT_ID) DESC\
                                    LIMIT 5;"))
    for row in result:
        print(row)

('HY-VEE', 291)
('BEN AND JERRYS', 108)
('PEPSI', 74)
('KLEENEX', 73)
('KNORR', 61)

3. When considering average spend from receipts with 'rewardsReceiptStatusâ€™ of â€˜Acceptedâ€™ or â€˜Rejectedâ€™, which is greater?

We do not have rewardsReceiptStatus = Accepted. So average spend of receipt with rewardsReceiptStatus = rejected is greater

In [199]:
with engine.connect() as connection:
    result = connection.execute(text(" \
                                    SELECT REWARDSRECEIPTSTATUS, AVG(TOTALSPENT) AS AVG_SPEND\
                                    FROM Receipts \
                                    GROUP BY REWARDSRECEIPTSTATUS;"))
    for row in result:
        print(row)

('FINISHED', 59.82524434240853)
('FLAGGED', 331.2824947101374)
('REJECTED', 27.511402816103217)
('SUBMITTED', None)
('PENDING', 28.032448681033387)

4. When considering total number of items purchased from receipts with 'rewardsReceiptStatusâ€™ of â€˜Acceptedâ€™ or â€˜Rejectedâ€™, which is greater?

We do not have rewardsReceiptStatus = Accepted. So reject value is greater.

In [218]:
with engine.connect() as connection:
    result = connection.execute(text(" \
                                    SELECT REWARDSRECEIPTSTATUS, SUM(TOTAL_ITEM_NBR) AS TOTAL_ITEM_NUMBER\
                                    FROM Receipts \
                                    JOIN (SELECT MAX(ITEM_INDEX) AS TOTAL_ITEM_NBR, RECEIPT_ID FROM ReceiptItem GROUP BY RECEIPT_ID) AS RS \
                                    ON Receipts.RECEIPT_ID = RS.RECEIPT_ID \
                                    GROUP BY Receipts.REWARDSRECEIPTSTATUS;"))
    for row in result:
        print(row)

('FINISHED', Decimal('3477'))
('FLAGGED', Decimal('704'))
('REJECTED', Decimal('110'))
('SUBMITTED', Decimal('431'))
('PENDING', Decimal('49'))

5. Which brand has the most spend among users who were created within the past 6 months?

In [277]:
with engine.connect() as connection:
    result = connection.execute(text(" \
                                    SELECT ReceiptItem.BRANDCODE, SUM(ReceiptItem.FINALPRICE * ReceiptItem.QUANTITYPURCHASED) AS TRANS_NBR\
                                    FROM Users \
                                    JOIN Receipts ON Users.USER_ID = RECEIPTS.USERID\
                                    JOIN ReceiptItem ON Receipts.RECEIPT_ID = ReceiptItem.RECEIPT_ID \
                                    WHERE Users.CREATEDDATE > DATE_SUB((SELECT MAX(CREATEDDATE) FROM Users), INTERVAL 6 MONTH)\
                                    AND ReceiptItem.BRANDCODE IS NOT NULL\
                                    GROUP BY ReceiptItem.BRANDCODE\
                                    ORDER BY  SUM(ReceiptItem.FINALPRICE * ReceiptItem.QUANTITYPURCHASED) DESC\
                                    LIMIT 1;"))
    for row in result:
        print(row)

("HEMPLER'S", 5611.11)

6. Which brand has the most transactions among users who were created within the past 6 months?

In [276]:
with engine.connect() as connection:
    result = connection.execute(text(" \
                                    SELECT ReceiptItem.BRANDCODE, COUNT(ReceiptItem.RECEIPT_ID) AS TRANS_NBR\
                                    FROM Users \
                                    JOIN Receipts ON Users.USER_ID = RECEIPTS.USERID\
                                    JOIN ReceiptItem ON Receipts.RECEIPT_ID = ReceiptItem.RECEIPT_ID \
                                    WHERE Users.CREATEDDATE > DATE_SUB((SELECT MAX(CREATEDDATE) FROM Users), INTERVAL 6 MONTH)\
                                    AND ReceiptItem.BRANDCODE IS NOT NULL\
                                    GROUP BY ReceiptItem.BRANDCODE\
                                    ORDER BY  COUNT(ReceiptItem.RECEIPT_ID) DESC\
                                    LIMIT 1;"))
    for row in result:
        print(row)

('HY-VEE', 291)

# Evaluate Data Quality Issues in the Data Provided

In [ ]:
# missing value
print(users_df.isnull().sum())
print()
print(receipts_df.isnull().sum())
print()
print(brands_df.isnull().sum())

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
dtype: int64

In the above code, I find there are lots of missing values in the three table.

In [ ]:
# duplicate data
users_df[users_df.drop(['_id'], axis=1).duplicated()]

,_id,active,createdDate,lastLogin,role,signUpSource,state,user_id
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
5,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
8,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN,54943462e4b07e684157a532
491,{'$oid': '54943462e4b07e684157a532'},True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN,54943462e4b07e684157a532
492,{'$oid': '54943462e4b07e684157a532'},True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN,54943462e4b07e684157a532
493,{'$oid': '54943462e4b07e684157a532'},True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN,54943462e4b07e684157a532
494,{'$oid': '54943462e4b07e684157a532'},True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN,54943462e4b07e684157a532

With the help of duplicated function, I find there are lots of duplicate values.

In [306]:
# Check user_id whether both in user and receipt table
user_ids = set(users_df_selected['user_id'])
user_ids_receipts_not = receipts_df_selected[~receipts_df_selected['userId'].isin(user_ids)][['userId']]

print(user_ids_receipts_not)

                       userId
13   5f9c74f7c88c1415cbddb839
15   5ff1e1e9b6a9d73a3a9f10f6
16   5ff1e1dfcfcf6c399c274ab3
20   5f9c74e3f1937815bd2c1d73
21   5ff1e196cfcf6c399c274a38
..                        ...
955  60253861efa6017a44dc6b50
956  60253891b54593795bf69242
966  60253891b54593795bf69242
985  60268c7bb545931ac63683af
990  60268c78efa6011bb151077d

[148 rows x 1 columns]

We can see there are receipt records with user_id not in Users table.

In [ ]:
# Try to find unusual value
print(receipts_df[receipts_df['totalSpent'] < 0])
print(receipts_item_normalized[receipts_item_normalized['finalPrice'].astype(float) < 0])

Empty DataFrame
Columns: [barcode, description, finalPrice, itemPrice, needsFetchReview, partnerItemId, preventTargetGapPoints, quantityPurchased, userFlaggedBarcode, userFlaggedNewItem, userFlaggedPrice, userFlaggedQuantity, needsFetchReviewReason, pointsNotAwardedReason, pointsPayerId, rewardsGroup, rewardsProductPartnerId, userFlaggedDescription, originalMetaBriteBarcode, originalMetaBriteDescription, brandCode, competitorRewardsGroup, discountedItemPrice, originalReceiptItemText, itemNumber, originalMetaBriteQuantityPurchased, pointsEarned, targetPrice, competitiveProduct, originalFinalPrice, originalMetaBriteItemPrice, deleted, priceAfterCoupon, metabriteCampaignId, receipt_id, item_index]
Index: []

[0 rows x 36 columns]

In [ ]:
# See categorical variable value
print(receipts_df['rewardsReceiptStatus'].unique())
print(receipts_df['rewardsReceiptStatus'].value_counts())

['FINISHED' 'REJECTED' 'FLAGGED' 'SUBMITTED' 'PENDING']
FINISHED     518
SUBMITTED    434
REJECTED      71
PENDING       50
FLAGGED       46
Name: rewardsReceiptStatus, dtype: int64

# Communicate with Stakeholders

Please see the doc file